@charset "UTF-8";
/* line 38, ../sass/common.sass */
.uppercase, .small-header, .btn-small, .ll .form-header h1, .ll .form-header h2, .ll .form-header p {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 42, ../sass/common.sass */
.small-header {
  font-size: 18px;
}

/* line 46, ../sass/common.sass */
.btn-small {
  font-size: 13px;
  padding: 10px 30px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 53, ../sass/common.sass */
body {
  font-family: Montserrat, Arial, sans-serif;
  background: white;
  color: #444;
  font-size: 14px;
  font-weight: lighter;
}

/* line 60, ../sass/common.sass */
p, ul, li {
  color: #666;
  line-height: 1.75em;
}

/* line 64, ../sass/common.sass */
blockquote {
  font-style: italic;
  color: #8f8f8f;
}

/* line 68, ../sass/common.sass */
img {
  max-width: 100%;
}

/* line 71, ../sass/common.sass */
li {
  line-height: 1.75em;
}

/* line 74, ../sass/common.sass */
a {
  color: #de3b29;
  cursor: pointer;
}
/* line 77, ../sass/common.sass */
a:hover {
  color: #e8786b;
}

/* line 80, ../sass/common.sass */
h1 {
  font-size: 36px;
  font-weight: 600 !important;
  margin-bottom: 10px;
}

/* line 85, ../sass/common.sass */
h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* line 90, ../sass/common.sass */
h3 {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 10px;
}

/* line 95, ../sass/common.sass */
h4 {
  font-weight: normal;
  font-size: 16px;
}

/* line 99, ../sass/common.sass */
select, input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
}

/* line 107, ../sass/common.sass */
.left {
  float: left;
}

/* line 110, ../sass/common.sass */
.container {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}

/* line 115, ../sass/common.sass */
.container > div {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 120, ../sass/common.sass */
.content > div {
  margin-bottom: 40px;
  clear: both;
}
/* line 123, ../sass/common.sass */
.content > div:after {
  content: "";
  clear: both;
  display: block;
}

/* line 128, ../sass/common.sass */
select:-moz-focusring {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* line 133, ../sass/common.sass */
.disclaimer {
  font-size: 13px;
  font-style: italic;
}

/* line 139, ../sass/common.sass */
.header {
  background: #181e2b;
  color: white;
  text-align: center;
  overflow: hidden;
}
/* line 144, ../sass/common.sass */
.header .header-brand a {
  background-image: url("../images/santa-jackpot-logo.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin: auto;
  width: 174px;
  height: 72px;
  text-indent: -999px;
  margin-right: 10px;
}
/* line 154, ../sass/common.sass */
.header p {
  color: #de3b29;
}
/* line 156, ../sass/common.sass */
.header a {
  color: white;
}
/* line 158, ../sass/common.sass */
.header a:hover {
  color: white;
}
/* line 160, ../sass/common.sass */
.header .rules {
  padding-top: 20px;
}
/* line 162, ../sass/common.sass */
.header #mark {
  max-width: 500px;
  float: left;
  overflow: hidden;
  padding-top: 20px;
}
/* line 167, ../sass/common.sass */
.header #mark marquee {
  float: left;
  width: 300px;
}
/* line 170, ../sass/common.sass */
.header #mark li {
  color: white;
  list-style: none;
  margin-right: 10px;
  display: inline;
}
/* line 175, ../sass/common.sass */
.header #mark li b {
  color: #de3b29;
}
/* line 177, ../sass/common.sass */
.header #mark .recent {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #de3b29;
  font-weight: 600;
  display: inline;
  float: left;
  margin-right: 10px;
}

/* line 187, ../sass/common.sass */
.body h2 {
  margin-top: 60px;
  color: #de3b29;
}
/* line 190, ../sass/common.sass */
.body ul {
  padding-left: 5px;
  list-style: none;
}
/* line 193, ../sass/common.sass */
.body ul li::before {
  content: "• ";
  color: #de3b29;
  font-weight: 800;
  font-size: 28px;
  position: relative;
  top: 4px;
}

/* line 201, ../sass/common.sass */
.footer {
  clear: both;
  overflow: auto;
  padding: 20px 60px;
  text-align: center;
}
/* line 206, ../sass/common.sass */
.footer p {
  color: #999;
  text-align: center;
}

/* line 211, ../sass/common.sass */
form, .formio-component-fieldset.form-div {
  position: relative;
  padding-top: 50px;
}

/* line 227, ../sass/common.sass */
.ll .panel.panel-default {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
/* line 233, ../sass/common.sass */
.ll .panel.panel-default .panel-body {
  padding: 0;
}
/* line 235, ../sass/common.sass */
.ll .well.formio-component {
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}
/* line 242, ../sass/common.sass */
.ll .form-header {
  text-align: center;
}
/* line 244, ../sass/common.sass */
.ll .form-header h1, .ll .form-header h2, .ll .form-header p {
  color: #de3b29;
  margin: 5px 0;
}
/* line 248, ../sass/common.sass */
.ll .form-header h1 {
  font-size: 14px;
}
/* line 250, ../sass/common.sass */
.ll .form-header h2 {
  font-size: 38px;
  font-weight: 800;
}
/* line 253, ../sass/common.sass */
.ll .form-header h4 {
  font-weight: lighter;
}
/* line 255, ../sass/common.sass */
.ll .form-header p {
  font-size: 21px;
  font-weight: 600;
}
/* line 260, ../sass/common.sass */
.ll .form-header.big-header h1 {
  font-size: 21px;
}
/* line 262, ../sass/common.sass */
.ll .form-header.big-header h2 {
  font-size: 72px;
}
/* line 266, ../sass/common.sass */
.ll .arrow {
  display: block;
  position: absolute !important;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f8b61f;
  top: 15px;
  left: 50%;
  margin-left: -15px;
  z-index: 2;
  animation: float 1.5s ease-in-out infinite;
}
/* line 277, ../sass/common.sass */
.ll .animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* line 287, ../sass/common.sass */
.ll .bounce {
  animation-name: bounce;
}
/* line 291, ../sass/common.sass */
.ll .btn, .ll .btn-primary.btn-gold, .ll div.radio span {
  font-size: 18px;
  font-weight: 600;
  color: black;
  padding: 10px 30px;
  background: #f8b61f;
  background-image: linear-gradient(to bottom, #f7e08e, #f8b61f, #f8b61f, #ed8e19);
  background-image: -webkit-gradient(linear, top, color-stop(0%, #f7e08e), color-stop(25%, #f8b61f), color-stop(50%, #f8b61f), color-stop(100%, #ed8e19));
  background: -moz-linear-gradient(top, #f7e08e, #f8b61f, #f8b61f, #ed8e19);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8b61f', endColorstr='#ed8e19');
  border-radius: 5px;
  border: 1px solid #ed8e19;
  white-space: normal;
  cursor: pointer;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
}
/* line 306, ../sass/common.sass */
.ll .btn:hover, .ll .btn-primary.btn-gold:hover, .ll div.radio span:hover {
  border: 1px solid #ed8e19;
  color: black;
  background: #f5ac1e;
  background-image: linear-gradient(to bottom, #f7e08e, #f8b61f, #ed8e19, #ed8e19);
  background-image: -webkit-gradient(linear, top, color-stop(0%, #f7e08e), color-stop(25%, #f8b61f), color-stop(50%, #f8b61f), color-stop(100%, #ed8e19));
  background: -moz-linear-gradient(top, #f7e08e, #f8b61f, #f8b61f, #ed8e19);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8b61f', endColorstr='#ed8e19');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7e08e', endColorstr='#f5ac1e');
  text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
  top: 1px;
  position: relative;
}
/* line 318, ../sass/common.sass */
.ll .btn-primary.btn-gold {
  display: block;
  margin: auto;
}
/* line 321, ../sass/common.sass */
.ll .form-div {
  text-align: center;
}
/* line 323, ../sass/common.sass */
.ll .form-div input[type="text"], .ll .form-div input[type="email"] {
  height: 47px;
}
/* line 325, ../sass/common.sass */
.ll .form-note {
  color: #999;
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}
/* line 332, ../sass/common.sass */
.ll .form-div .form-control {
  width: 60%;
}
/* line 335, ../sass/common.sass */
.ll .checkbox input[type="checkbox"] {
  left: 40px;
}
/* line 338, ../sass/common.sass */
.ll .control-label div {
  text-align: left;
  font-weight: lighter;
  font-size: 12px;
  text-indent: 20px;
}
/* line 344, ../sass/common.sass */
.ll .formio-component-email {
  display: inline;
}
/* line 346, ../sass/common.sass */
.ll .formio-component-email .form-control {
  height: 47px;
}
/* line 348, ../sass/common.sass */
.ll .list-inline {
  display: none;
}

/* line 353, ../sass/common.sass */
.form-container .ll .progress {
  height: 8px;
  margin-bottom: 0px;
}
/* line 356, ../sass/common.sass */
.form-container .ll .progress .progress-bar {
  background: #36c86d;
}
/* line 358, ../sass/common.sass */
.form-container .ll .form-group > .control-label {
  color: #de3b29;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}
/* line 365, ../sass/common.sass */
.form-container .ll .form-group.formio-component-checkbox > .control-label {
  color: #666;
  font-weight: lighter;
}
/* line 368, ../sass/common.sass */
.form-container .ll .input-group {
  width: 90%;
  margin: auto;
  text-align: center;
}
/* line 372, ../sass/common.sass */
.form-container .ll div.radio {
  display: inline-block;
  position: relative;
  margin: 10px 2.5%;
  text-align: center;
  min-height: 47px;
  width: 40%;
  min-width: 224px;
}
/* line 380, ../sass/common.sass */
.form-container .ll div.radio label, .form-container .ll div.radio input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 47px;
}
/* line 386, ../sass/common.sass */
.form-container .ll div.radio span {
  display: inline-block;
  width: 100%;
  margin: 0;
}
/* line 390, ../sass/common.sass */
.form-container .ll div.radio input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

/* line 395, ../sass/common.sass */
.form-banner {
  background: #181e2b url("../images/santa-bg.jpg") left bottom no-repeat;
  background-size: 800px;
  min-height: 500px;
  padding: 20px 60px;
  margin-top: -1px;
}

/* line 402, ../sass/common.sass */
.form-container {
  background: white;
  border-radius: 5px;
  padding: 30px 40px;
}

/* line 409, ../sass/common.sass */
#thanks-page .header {
  background: #bac0ce;
}
/* line 412, ../sass/common.sass */
#thanks-page .form-header.big-header h1 {
  color: black;
}
/* line 414, ../sass/common.sass */
#thanks-page .form-header.big-header h2 {
  color: white;
}
/* line 416, ../sass/common.sass */
#thanks-page .form-container {
  background: none;
  padding-top: 50px;
}
/* line 419, ../sass/common.sass */
#thanks-page .form-banner {
  background: #bac0ce url("../images/santa-bg-light.jpg") bottom right no-repeat;
  border-bottom: 10px solid #b42f1f;
  margin-bottom: 30px;
}
/* line 423, ../sass/common.sass */
#thanks-page .social-share {
  text-align: center;
  padding: 40px 0 0;
}
/* line 426, ../sass/common.sass */
#thanks-page .social-share a:hover {
  position: relative;
  top: 1px;
}
/* line 429, ../sass/common.sass */
#thanks-page .social-share img {
  margin: 0 10px 0;
}
/* line 431, ../sass/common.sass */
#thanks-page .social-share p {
  color: white;
  margin-top: 15px;
  font-size: 18px;
}

/* line 439, ../sass/common.sass */
#privacy .header {
  margin-bottom: 60px;
}
/* line 441, ../sass/common.sass */
#privacy h1 {
  font-size: 48px;
  color: #de3b29;
  text-shadow: none;
}
/* line 445, ../sass/common.sass */
#privacy h2 {
  color: #de3b29;
  font-weight: bold;
  border-bottom: 3px solid #de3b29;
  padding-bottom: 10px;
  margin: 30px 0;
  text-align: left;
}

@media (min-width: 1200px) {
  /* line 458, ../sass/common.sass */
  .ll .form-header h1, .ll .form-header p {
    font-size: 21px;
  }
  /* line 460, ../sass/common.sass */
  .ll .form-header h2 {
    font-size: 56px;
  }
}
@media (max-width: 1200px) {
  /* line 464, ../sass/common.sass */
  .container {
    max-width: 100%;
  }

  /* line 468, ../sass/common.sass */
  .ll .form-header h1, .ll .form-header p {
    font-size: 18px;
  }
  /* line 470, ../sass/common.sass */
  .ll .form-header h2 {
    font-size: 48px;
  }
  /* line 473, ../sass/common.sass */
  .ll .form-header.big-header h1, .ll .form-header.big-header p {
    font-size: 18px;
  }
  /* line 475, ../sass/common.sass */
  .ll .form-header.big-header h2 {
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  /* line 481, ../sass/common.sass */
  .body {
    margin: 30px 20px 60px;
  }

  /* line 483, ../sass/common.sass */
  .container > div {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 991px) {
  /* line 489, ../sass/common.sass */
  .form-banner {
    background-size: 400px;
  }

  /* line 491, ../sass/common.sass */
  .form-container {
    margin-bottom: 180px;
  }

  /* line 494, ../sass/common.sass */
  .footer .disclosure {
    display: none;
  }

  /* line 497, ../sass/common.sass */
  .header #mark {
    display: none;
  }

  /* line 500, ../sass/common.sass */
  #offers .progress-container {
    border-top: 1px solid #ddd;
    background: #f2f2f2;
    text-align: center;
    padding-bottom: 10px;
  }
  /* line 505, ../sass/common.sass */
  #offers .progress-container .progress-label {
    color: #de3b29;
  }
  /* line 507, ../sass/common.sass */
  #offers .progress-container .progress {
    border: 1px solid #ddd;
  }
  /* line 509, ../sass/common.sass */
  #offers .offer-header {
    text-align: center;
    padding: 5px 10px;
  }
  /* line 512, ../sass/common.sass */
  #offers .offer-header span {
    font-style: italic;
    font-size: 13px;
  }
  /* line 516, ../sass/common.sass */
  #offers .lexlaw img {
    max-width: 90%;
  }
}
@media (min-width: 481px) {
  /* line 521, ../sass/common.sass */
  .form {
    padding: 40px;
  }

  /* line 525, ../sass/common.sass */
  .radioSelectContainer > label {
    display: none;
  }

  /* line 527, ../sass/common.sass */
  .extendedRadioContainer {
    display: none;
  }

  /* line 530, ../sass/common.sass */
  .radioContainer label {
    margin-right: 10px;
    font-size: 16px;
  }
  /* line 533, ../sass/common.sass */
  .radioContainer label:last-child {
    margin-right: 0;
  }
  /* line 535, ../sass/common.sass */
  .radioContainer input {
    margin-right: 3px;
  }

  /* line 539, ../sass/common.sass */
  .ll .form-div input, .ll .form-div select, .ll .form-div .btn {
    display: block;
    width: 60%;
    margin: 0 auto 15px;
  }
  /* line 544, ../sass/common.sass */
  .ll .form-div.joined-button input, .ll .form-div.joined-button .btn {
    display: inline;
    margin: 0;
  }
  /* line 547, ../sass/common.sass */
  .ll .form-div.joined-button input {
    width: 50% !important;
    border-radius: 5px 0 0 5px;
  }
  /* line 550, ../sass/common.sass */
  .ll .form-div.joined-button .btn {
    width: auto;
    border-radius: 0 5px 5px 0;
    position: relative;
    left: -5px;
    top: -2px;
  }
}
@media (max-width: 699px) {
  /* line 562, ../sass/common.sass */
  .radioSelectContainer, .radioContainer {
    position: relative;
    overflow: hidden;
  }
  /* line 566, ../sass/common.sass */
  .radioSelectContainer select, .radioContainer select {
    display: none;
  }
  /* line 568, ../sass/common.sass */
  .radioSelectContainer label, .radioSelectContainer .labelContainer, .radioContainer label, .radioContainer .labelContainer {
    display: block;
    margin: 10px 0;
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f2f2f2));
    background: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f2f2f2');
    border-radius: 4px;
    border: 2px solid #e6e6e6;
    padding: 10px;
    cursor: pointer;
  }
  /* line 579, ../sass/common.sass */
  .radioSelectContainer label:hover, .radioSelectContainer .labelContainer:hover, .radioContainer label:hover, .radioContainer .labelContainer:hover {
    background: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dbdbdb));
    background: -moz-linear-gradient(top, #fcfcfc, #dbdbdb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#dbdbdb');
  }
  /* line 585, ../sass/common.sass */
  .radioSelectContainer label > span, .radioSelectContainer .labelContainer > span, .radioContainer label > span, .radioContainer .labelContainer > span {
    text-align: left;
    display: block;
    font-size: 16px;
    color: #444;
    background: url("../images/right-arrow-gray.png") no-repeat right center;
    background-size: 8px 13px;
  }
  /* line 592, ../sass/common.sass */
  .radioSelectContainer label > input, .radioSelectContainer .labelContainer > input, .radioContainer label > input, .radioContainer .labelContainer > input {
    position: absolute;
    top: -20px;
  }
  /* line 595, ../sass/common.sass */
  .radioSelectContainer label > input:checked + span, .radioSelectContainer .labelContainer > input:checked + span, .radioContainer label > input:checked + span, .radioContainer .labelContainer > input:checked + span {
    background-color: #404040;
    color: #F7F7F7;
  }
  /* line 598, ../sass/common.sass */
  .radioSelectContainer label label, .radioSelectContainer .labelContainer label, .radioContainer label label, .radioContainer .labelContainer label {
    display: none;
  }
  /* line 600, ../sass/common.sass */
  .radioSelectContainer label.active, .radioSelectContainer .labelContainer.active, .radioContainer label.active, .radioContainer .labelContainer.active {
    background: #777;
    border: 2px solid #777;
    overflow: auto;
  }
  /* line 605, ../sass/common.sass */
  .radioSelectContainer label.active > span, .radioSelectContainer .labelContainer.active > span, .radioContainer label.active > span, .radioContainer .labelContainer.active > span {
    color: white;
    margin-bottom: 10px;
    background: url("../images/down-arrow-gray.png") no-repeat right center;
    background-size: 13px 8px;
  }
  /* line 610, ../sass/common.sass */
  .radioSelectContainer label.active label, .radioSelectContainer .labelContainer.active label, .radioContainer label.active label, .radioContainer .labelContainer.active label {
    display: block;
    width: 48%;
    float: left;
    margin: 3px 1%;
  }
}
@media (max-width: 480px) {
  /* line 619, ../sass/common.sass */
  body {
    background: #c4c9d3;
  }

  /* line 621, ../sass/common.sass */
  .header {
    height: 60px;
    padding: 0px 20px;
    text-align: center;
  }
  /* line 625, ../sass/common.sass */
  .header .header-brand a {
    float: none;
    margin: auto;
    width: 132px;
    height: 55px;
    background-size: 132px;
  }

  /* line 631, ../sass/common.sass */
  .form-banner {
    background-size: 360px;
    border-bottom: 5px solid #de3b29;
  }

  /* line 634, ../sass/common.sass */
  .form-container {
    background: none;
    padding: 0;
    margin-bottom: 100px;
  }

  /* line 640, ../sass/common.sass */
  .ll .form-header h1 {
    font-size: 13px;
    color: white;
    text-shadow: 0 2px 0 #b42f1f;
  }
  /* line 644, ../sass/common.sass */
  .ll .form-header h2 {
    font-size: 36px;
    color: white;
    text-shadow: 0 2px 0 #b42f1f;
  }
  /* line 648, ../sass/common.sass */
  .ll .form-header h4 {
    color: #de3b29;
  }
  /* line 650, ../sass/common.sass */
  .ll .form-header p {
    font-size: 14px;
  }
  /* line 653, ../sass/common.sass */
  .ll .form-header.big-header h1, .ll .form-header.big-header p {
    font-size: 14px;
  }
  /* line 655, ../sass/common.sass */
  .ll .form-header.big-header h2 {
    font-size: 48px;
  }
  /* line 657, ../sass/common.sass */
  .ll input.form-control, .ll select.form-control {
    display: block;
    text-align: center;
    width: 80% !important;
    margin: 0 auto 15px;
  }
  /* line 662, ../sass/common.sass */
  .ll .btn {
    width: 80%;
  }

  /* line 666, ../sass/common.sass */
  .form-container .ll .form-group > .control-label {
    color: white;
  }
  /* line 668, ../sass/common.sass */
  .form-container .ll .form-group.formio-component-checkbox > .control-label {
    color: white;
  }
  /* line 670, ../sass/common.sass */
  .form-container .ll .input-group {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  /* line 674, ../sass/common.sass */
  .form-container .ll div.radio {
    display: block;
    width: 100%;
    margin: 15px 0;
  }
  /* line 678, ../sass/common.sass */
  .form-container .ll div.radio span {
    display: inline-block;
    width: 80%;
    height: 47px;
  }

  /* line 683, ../sass/common.sass */
  .body {
    display: none;
  }

  /* line 685, ../sass/common.sass */
  .footer {
    padding: 20px 0;
    background: #c4c9d3;
  }
  /* line 688, ../sass/common.sass */
  .footer p {
    color: #666;
    font-size: 11px;
    line-height: 14px;
  }

  /* line 692, ../sass/common.sass */
  body#offer-page {
    background: white;
  }
  /* line 694, ../sass/common.sass */
  body#offer-page .header {
    height: auto;
  }
  /* line 696, ../sass/common.sass */
  body#offer-page .header .header-brand a {
    margin-top: 0px;
    background-image: url("../images/santa-jackpot-logo.png");
  }
  /* line 699, ../sass/common.sass */
  body#offer-page .header .survey-header {
    padding-top: 0px;
  }
  /* line 701, ../sass/common.sass */
  body#offer-page .header .progress-bubbles {
    display: none;
  }
  /* line 703, ../sass/common.sass */
  body#offer-page .form-container {
    padding-top: 30px;
    margin-bottom: 160px;
  }
  /* line 706, ../sass/common.sass */
  body#offer-page .footer {
    background: none;
  }

  /* line 709, ../sass/common.sass */
  #thanks-page .form-banner {
    background-size: 460px;
    border-bottom: none;
    margin-bottom: 0px;
  }
  /* line 713, ../sass/common.sass */
  #thanks-page .form-container {
    padding-top: 20px;
    margin-bottom: 220px;
  }
  /* line 716, ../sass/common.sass */
  #thanks-page .social-share {
    padding-top: 20px;
  }
  /* line 718, ../sass/common.sass */
  #thanks-page .social-share .hashtag {
    display: none;
  }
  /* line 721, ../sass/common.sass */
  #thanks-page .form-header h1, #thanks-page .form-header h2 {
    text-shadow: none;
  }
  /* line 723, ../sass/common.sass */
  #thanks-page .footer {
    background: white;
  }

  /* line 725, ../sass/common.sass */
  body#privacy {
    background: white;
  }
  /* line 727, ../sass/common.sass */
  body#privacy .body {
    display: block;
  }
  /* line 729, ../sass/common.sass */
  body#privacy h1 {
    font-size: 32px;
  }
  /* line 731, ../sass/common.sass */
  body#privacy h2 {
    font-size: 21px;
  }
  /* line 733, ../sass/common.sass */
  body#privacy .footer {
    background: none;
  }
}
